* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 2.5rem 1fr;
}
.container .sub-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0.3rem;
}

header {
  background: rgb(6, 89, 61);
}
header .header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header .site-logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
header .header .site-logo .toggler-btn-container {
  display: none;
}
header .header .site-logo .toggler-btn-container .left-sidebar-toggler {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: rgb(202, 202, 202);
  margin-right: 0.3rem;
}
header .header .site-logo .logo-link {
  color: rgb(202, 202, 202);
  text-decoration: none;
  font-size: 1.13em;
  font-weight: bold;
  font-family: sans-serif;
}
header .header .header-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header .header-content .search-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 1.3rem;
  padding: 0.1rem 0.5rem;
  background: rgba(202, 202, 202, 0.12);
}
header .header .header-content .search-bar-container input {
  background: none;
  border: none;
  outline: none;
  font-size: 0.85rem;
  color: rgb(202, 202, 202);
  font-family: "Times New Roman", Times, serif;
}
header .header .header-content .search-bar-container input::placeholder {
  color: rgba(202, 202, 202, 0.5);
}
header .header .header-content .search-bar-container button {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(202, 202, 202);
  font-size: 1.12rem;
}
header .header .header-content .header-login-container {
  display: none;
}
header .header .header-content .header-login-container .header-login-link {
  text-decoration: none;
  color: rgb(202, 202, 202);
  margin-left: 0.5rem;
  padding: 0.175rem 1.5rem;
  border: 0.13rem solid rgba(202, 202, 202, 0.5);
  border-radius: 0.15rem;
  font-size: 0.85rem;
}
header .header .header-content .header-user-profile-container {
  display: none;
  align-items: center;
}
header .header .header-content .header-user-profile-container .header-user-profile-link {
  text-decoration: none;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}
header .header .header-content .header-user-profile-container .header-user-profile-link img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

.home-container {
  background: rgb(202, 202, 202);
}
.home-container .home {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.home-container .home .home-left-sidebar-con .home-left-nav {
  padding-top: 0.3rem;
  padding-right: 0.5rem;
}
.home-container .home .home-left-sidebar-con .home-left-nav ul {
  list-style-type: none;
}
.home-container .home .home-left-sidebar-con .home-left-nav ul li {
  margin-bottom: 0.35rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  color: rgb(6, 89, 61);
  border-bottom: 0.12rem solid rgba(6, 89, 61, 0.15);
  transition: 0.3s ease-in-out;
}
.home-container .home .home-left-sidebar-con .home-left-nav ul li:hover {
  border-color: rgba(6, 89, 61, 0.5);
  margin-left: 0.5rem;
}
.home-container .home .home-left-sidebar-con .home-left-nav ul li .icon {
  font-size: 1.23rem;
  margin-right: 0.15rem;
}
.home-container .home .home-left-sidebar-con .home-left-nav ul li .link {
  text-decoration: none;
  color: rgb(6, 89, 61);
  flex-grow: 1;
}
.home-container .home .group-left-sidebar {
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  display: grid;
  grid-template-rows: 2rem 1fr;
}
.home-container .home .group-left-sidebar .sidebar-header {
  padding: 0.35rem 0.15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.15rem solid rgba(6, 89, 61, 0.5);
}
.home-container .home .group-left-sidebar .sidebar-header .back-to-home-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(6, 89, 61);
  margin-right: 0.15rem;
}
.home-container .home .group-left-sidebar .sidebar-header .group-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container .home .group-left-sidebar .sidebar-header .group-nav nav ul {
  list-style-type: none;
  display: flex;
}
.home-container .home .group-left-sidebar .sidebar-header .group-nav nav ul li {
  margin: 0 0.35rem;
}
.home-container .home .group-left-sidebar .sidebar-header .group-nav nav ul li .link {
  text-decoration: none;
  color: rgb(6, 89, 61);
}
.home-container .home .group-left-sidebar .sidebar-header .group-nav .group-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(6, 89, 61, 0.15);
  padding: 0.005rem 0.35rem;
  border-radius: 0.3rem;
}
.home-container .home .group-left-sidebar .sidebar-header .group-nav .group-search input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  color: rgb(6, 89, 61);
}
.home-container .home .group-left-sidebar .sidebar-header .group-nav .group-search input::placeholder {
  color: rgba(6, 89, 61, 0.5);
}
.home-container .home .group-left-sidebar .sidebar-header .group-nav .group-search button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: rgb(6, 89, 61);
}
.home-container .home .group-left-sidebar .sidebar-header .group-nav .new-group-btn {
  display: flex;
  align-items: center;
  margin-left: 0.35rem;
}
.home-container .home .group-left-sidebar .sidebar-header .group-nav .new-group-btn button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: rgb(6, 89, 61);
}
.home-container .home .group-left-sidebar .group-list {
  margin-top: 0.75rem;
  height: 85vh;
  overflow: auto;
}
.home-container .home .group-left-sidebar .group-list::-webkit-scrollbar {
  width: 3px;
}
.home-container .home .group-left-sidebar .group-list:hover::-webkit-scrollbar-track {
  background: rgba(6, 89, 61, 0.25);
  border-radius: 3px;
}
.home-container .home .group-left-sidebar .group-list:hover::-webkit-scrollbar-thumb {
  background: rgba(6, 89, 61, 0.35);
  border-radius: 3px;
}
.home-container .home .group-left-sidebar .group-list .new-group-form-container section {
  background: rgb(215, 215, 215);
  padding: 0.5rem 1.3rem;
  border-radius: 0.35rem;
}
.home-container .home .group-left-sidebar .group-list .new-group-form-container section span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.03rem;
  font-weight: bold;
  color: rgb(6, 89, 61);
}
.home-container .home .group-left-sidebar .group-list .new-group-form-container section .input-control {
  display: flex;
  margin: 0.35rem;
  padding: 0.13rem 0.3rem;
  border-bottom: 1px solid rgba(6, 89, 61, 0.15);
}
.home-container .home .group-left-sidebar .group-list .new-group-form-container section .input-control label {
  text-transform: capitalize;
  color: rgb(6, 89, 61);
}
.home-container .home .group-left-sidebar .group-list .new-group-form-container section .input-control input {
  background: none;
  border: 1px solid rgba(6, 89, 61, 0.5);
  outline: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9rem;
  padding: 0.13rem 0.3rem;
  border-radius: 0.3rem;
  color: rgb(6, 89, 61);
  width: 65%;
  text-align: left;
}
.home-container .home .group-left-sidebar .group-list .new-group-form-container section .input-control .error {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: rgb(184, 0, 0);
}
.home-container .home .group-left-sidebar .group-list .new-group-form-container section .input-control select {
  background: none;
  outline: none;
  border: 1px solid rgba(6, 89, 61, 0.5);
  padding: 0.05rem 0.3rem;
  border-radius: 0.3rem;
  color: rgb(6, 89, 61);
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9rem;
}
.home-container .home .group-left-sidebar .group-list .new-group-form-container section .btn-container {
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home-container .home .group-left-sidebar .group-list .new-group-form-container section .btn-container button {
  background: rgb(6, 89, 61);
  border: none;
  padding: 0.15rem 1.3rem;
  border-radius: 0.15rem;
  cursor: pointer;
  color: rgb(202, 202, 202);
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9rem;
  transition: 0.3s ease-out;
}
.home-container .home .group-left-sidebar .group-list .new-group-form-container section .btn-container button:hover {
  background: rgba(6, 89, 61, 0.85);
}
.home-container .home .group-left-sidebar .group-list ul {
  list-style-type: none;
}
.home-container .home .group-left-sidebar .group-list ul li {
  margin-bottom: 0.35rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(6, 89, 61);
  border-bottom: 0.12rem solid rgba(6, 89, 61, 0.15);
}
.home-container .home .group-left-sidebar .group-list ul li .group-name-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.home-container .home .group-left-sidebar .group-list ul li .group-name-profile img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 0.35rem;
}
.home-container .home .group-left-sidebar .group-list ul li .group-auth-btn {
  display: flex;
  align-items: center;
}
.home-container .home .group-left-sidebar .group-list ul li .group-auth-btn button {
  background: none;
  border: 0.1rem solid rgba(6, 89, 61, 0.35);
  border-radius: 0.3rem;
  font-family: "Times New Roman", Times, serif;
  padding: 0.13rem 1.3rem;
  color: rgb(6, 89, 61);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.home-container .home .group-left-sidebar .group-list ul li .group-auth-btn button:hover {
  background: rgb(6, 89, 61);
  color: rgb(202, 202, 202);
}
.home-container .home .home-content-container {
  grid-column: 2/span 4;
  background: rgb(211, 211, 211);
}