@tailwind base;
@tailwind components;
@tailwind utilities;
  
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgb(219, 219, 219);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgb(164, 164, 164);
}
