
header {
    background: $primary-bg-color;
    .header {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .site-logo {
            flex-grow: 1;
            display: flex;
            align-items: center;

            // side bar toggler
            .toggler-btn-container {
                display: none;
                .left-sidebar-toggler {
                    display: flex;
                    align-items: center;
                    background: none;
                    border: none;
                    cursor: pointer;
                    font-size: 1.3rem;
                    color: $primary-txt-color;
                    margin-right: .3rem;
                }
            }

            .logo-link {
                color: $primary-txt-color;
                text-decoration: none;
                font-size: 1.13em;
                font-weight: bold;
                font-family: sans-serif;
            }
        }

        .header-content {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .search-bar-container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                border-radius: 1.3rem;
                padding: .1rem .5rem;
                background: rgba($primary-txt-color,.12);

                input {
                    background: none;
                    border: none;
                    outline: none;
                    font-size: .85rem;
                    color: $primary-txt-color;
                    font-family: 'Times New Roman', Times, serif;

                    &::placeholder {
                        color: rgba($primary-txt-color,.5);
                    }
                }

                button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    color: $primary-txt-color;
                    font-size: 1.3rem;
                }
            }

            // login page toggler
            .header-login-container {
                display: none;
                .header-login-link {
                    text-decoration: none;
                    color: $primary-txt-color;
                    margin-left: .5rem;
                    padding: .175rem 1.5rem;
                    border: .13rem solid rgba($primary-txt-color,.5);
                    border-radius: .15rem;
                    font-size: .85rem;
                }
            }

            // user profile togler
            .header-user-profile-container {
                display: none;
                align-items: center;

                .header-user-profile-link {
                    text-decoration: none;
                    margin-left: .5rem;
                    display: flex;
                    align-items: center;
                    
                    img {
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}